.schedule {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.scheduleHeader {
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.scheduleTitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

.addStudentRow {
  margin-top: 10px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 24px 0;
}

.addGroupClassRow {
  margin-top: 10px;
}

.groupClassesRow {
  line-height: 24px;
  margin-top: 10px;
}
