body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: unset;
  text-decoration: none;
}

.pageHeader {
  font-size: 28px;
  margin-bottom: 40px;
}
