@use '../styles/variables' as v;

.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  left: 50%;
  max-width: calc(100% - 40px);
  min-width: calc(100% - 40px);
  padding: 24px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: v.$horizontalNav) {
    max-width: 500px;
    min-width: auto;
  }
}

.modalTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  padding-bottom: 8px;
}

.modalButtons {
  display: flex;
  margin-top: 24px;
  justify-content: center;

  button {
    margin: 0 5px;
  }
}
