.studentModal {
  width: 356px;
}

.lessonSelects {
  display: flex;
}

.lessonDay {
  width: 60px;
}

.lessonHour {
  margin-left: 8px;
  width: 50px;
}

.lessonMinutes {
  margin-right: 8px;
  width: 50px;
}

.lessonDuration {
  width: 74px;
}
