.studentModal {
  width: 356px;
}

.lessonSelects {
  display: flex;
}

.lessonDay {
  width: 60px;
}

.lessonHour {
  margin-left: 8px;
  width: 50px;
}

.lessonMinutes {
  margin-right: 8px;
  width: 50px;
}

.lessonDuration {
  width: 74px;
}

.parents {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 60px;
  padding: 12px 12px 4px 12px;
  overflow-y: scroll;
}
