.tooltip {
  background-color: #ffffff;
  border: solid 1px #cccccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #aaaaaa;
  padding: 4px 7px 5px 8px;
  position: absolute;
  z-index: 1;
}

.tooltipText {
  color: #555555;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}

.tooltipArrow {
  border-right: 14px solid transparent;
  border-top: 14px solid #ffffff;
  box-shadow: -2px -2px 1px -1px #cccccc;
  height: 0;
  position: absolute;
  width: 0;
  z-index: 1;
}

.tooltipArrowBottomRight {
  right: 10px;
  top: 22px;
  transform: rotate(225deg);
}
