$aboutPadding: 32px;

.about {
  margin: 0 auto;
  max-width: 700px;
  padding: $aboutPadding;
  width: calc(100% - #{$aboutPadding * 2});

  @media screen and (orientation: landscape) {
    max-width: 960px;
  }
}

.aboutHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.bridget {
  margin-bottom: 45px;
}

.bridgetPhoto {
  display: block;
  height: auto;
  width: 100%;

  @media screen and (orientation: landscape) {
    float: left;
    margin-bottom: 16px;
    margin-right: 30px;
    max-width: 400px;

    @media screen and (max-width: 896px) {
      width: 200px;
    }
  }
}

.explanation {
  margin-top: 20px;

  p {
    line-height: 20px;
    margin: 0 0 16px 0;
  }

  @media screen and (orientation: landscape) {
    margin-top: unset;
    padding: unset;
    position: relative;
    top: -4px;
  }
}

.usu {

}

.usuPhoto {
  display: block;
  height: auto;
  width: 100%;

  @media screen and (orientation: landscape) {
    float: right;
    margin-bottom: 16px;
    margin-left: 30px;
    max-width: 400px;

    @media screen and (max-width: 896px) {
      width: 200px;
    }
  }
}
