.about {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;

  @media screen and (orientation: landscape) {
    max-width: 960px;
  }
}

.bridget {
  @media screen and (orientation: landscape) {
    padding: 30px;
  }
}

.bridgetPhoto {
  display: block;
  height: auto;
  width: 100%;

  @media screen and (orientation: landscape) {
    float: left;
    margin-bottom: 16px;
    margin-right: 30px;
    max-width: 400px;

    @media screen and (max-width: 896px) {
      width: 200px;
    }
  }
}

.explanation {
  margin-top: 20px;
  padding: 0 20px;

  p {
    line-height: 20px;
    margin: 0 0 16px 0;
  }

  @media screen and (orientation: landscape) {
    margin-top: unset;
    padding: unset;
  }
}

.usu {

}

.usuPhoto {
  height: auto;
  width: 100%;
}
