@use '../../styles/variables' as v;

$headerLeftPadding: 16px;
$headerRightPadding: $headerLeftPadding - v.$menuBarLeft;

.header {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  height: v.$headerHeight;
  justify-content: space-between;
  padding: 0 $headerRightPadding 0 $headerLeftPadding;
  position: relative;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  @media (hover: hover) {
    &:hover {
      opacity: 0.75;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.titleNameText {
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 0;
}

.titleText {
  color: #bbb;
  padding: 2px 0;
}
