.quoteBox {
  // Phone portrait
  margin: 60px auto 0;
  width: calc(100% - 80px);

  // Phone landscape
  @media screen and (orientation: landscape) and (max-height: 420px) {
    margin: 40px 40px 0;
    width: 50%;
  }

  // iPad portrait
  @media screen and (orientation: portrait) and (min-width: 768px) {
    margin: 120px auto 0;
    width: calc(100% - 160px);
  }

  // iPad landscape
  @media screen and (orientation: landscape) and (min-height: 600px) {
    margin: 60px 70px 0;
    width: 60%;
  }

  // iPad Air portrait
  @media screen and (orientation: portrait) and (min-width: 834px) {
    margin: 120px auto 0;
    width: calc(100% - 220px);
  }

  // iPad Air landscape
  @media screen and (orientation: landscape) and (min-height: 834px) {
    margin: 90px 70px 0;
    width: 50%;
  }

  // iPad Pro portrait
  @media screen and (orientation: portrait) and (min-width: 1024px) {
    margin: 200px auto 0;
    width: calc(100% - 320px);
  }

  // iPad Pro landscape
  @media screen and (orientation: landscape) and (min-width: 1366px) {
    margin: 90px 70px 0;
    width: 50%;
  }

  // Desktop 1366 x 768
  @media screen and (orientation: landscape) and (min-width: 1366px) and (max-height: 768px) {
    margin: 90px 70px 0;
    width: 33%;
  }

  // Desktop 1440px
  @media screen and (orientation: landscape) and (min-width: 1440px) {
    margin: 90px 70px 0;
    width: 40%;
  }

  // Desktop Huge
  @media screen and (orientation: landscape) and (min-width: 1440px) and (min-height: 910px) {
    margin: 150px 270px 0;
    width: 40%;
  }
}

.quote {
  color: #ccc;
  font-size: 18px;
  line-height: 24px;

  // iPad portrait
  @media screen and (orientation: portrait) and (min-width: 768px) {
    font-size: 24px;
    line-height: 30px;
  }

  // iPad landscape
  @media screen and (orientation: landscape) and (min-height: 600px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.bach {
  color: #888;
  margin-top: 20px;
  padding-right: 20px;
  text-align: right;

  // iPad portrait
  @media screen and (orientation: portrait) and (min-width: 768px) {
    font-size: 20px;
  }

  // iPad landscape
  @media screen and (orientation: landscape) and (min-height: 768px) {
    font-size: 20px;
  }
}

.background {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: -1;

  img {
    display: block;
  }
}
