@use '../../styles/variables' as v;

.button {
  border: none;
  border-radius: 60px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  width: 120px;

  &:enabled {
    cursor: pointer;
  }

  @media screen and (min-width: v.$horizontalNav) {
    height: 36px;
    width: 100px;
  }
}

.primary {
  background-color: rgb(28, 93, 153);

  &:enabled {
    @media (hover: hover) {
      &:hover {
        background-color: rgba(28, 93, 153, 0.875);
      }
    }

    &:active {
      background-color: rgba(28, 93, 153, 0.75);
    }
  }

  &:disabled {
    background-color: rgba(28, 93, 153, 0.5);
  }
}

.secondary {
  background-color: rgba(28, 93, 153, 0.75);

  &:enabled {
    @media (hover: hover) {
      &:hover {
        background-color: rgba(28, 93, 153, 0.875);
      }
    }

    &:active {
      background-color: rgba(28, 93, 153, 0.75);
    }
  }

  &:disabled {
    background-color: rgba(28, 93, 153, 0.375);
  }
}
