.student {
  margin-bottom: 16px;
  padding: 12px 0 0 14px;
}

.name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.time {
  font-size: 19px;
  margin-bottom: 12px;
}

.parents,
.phone {
  font-size: 14px;
  margin-bottom: 6px;
}
