.banner {
  background-image: url(/images/events-banner.jpg);
  background-position: center center;
  background-size: cover;
  height: 350px;
  width: 100%;
}

.events {
  padding: 32px;
}

.eventsHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
  padding-bottom: 8px;
}

.addEventRow {
  margin-top: 10px;
}
