$menuBarHeight: 1px;
$menuBarWidth: 32px;
$menuIconSize: 48px;

.menu {
  height: $menuIconSize;
  opacity: 1;
  position: relative;
  transition: 0.375s ease-in-out;
  width: $menuIconSize;

  span {
    border-radius: $menuBarHeight;
    background-color: #fff;
    display: block;
    height: $menuBarHeight;
    left: 8px;
    position: absolute;
    transform: rotate(0deg);
    transform-origin: left center;
    transition: 0.1875s ease-in-out;
    width: $menuBarWidth;

    &:nth-child(1) {
      top: 14px;
    }

    &:nth-child(2) {
      top: 24px;
    }

    &:nth-child(3) {
      top: 34px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        left: 10px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:nth-child(3) {
        left: 10px;
        top: 36px;
        transform: rotate(-45deg);
      }
    }
  }
}

.nav {
  list-style-type: none;
}
