.day {
  display: inline-block;
  margin: 0 7px 24px;
  text-align: center;
  width: 275px;
}

$nameHeight: 44px;

.name {
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  height: $nameHeight;
  line-height: $nameHeight;
  text-align: center;
}

.students {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
