@use '../../styles/variables' as v;

.nav {
  background-color: #000;
  height:  v.$headerHeight;

  &.open {
    height: auto;
  }
}

.navList {
  background-color: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.3125);
  display: none;
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  right: 0;
  text-align: right;
  width: 100%;
  z-index: 1;

  &.open {
    display: block;
  }

  li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3125);
    color: rgba(255, 255, 255, 0.75);
    margin: 0 20px;
  }

  a, .signOut {
    display: block;
    font-size: 18px;
    padding: 20px;

    @media (hover: hover) {
      &:hover {
        opacity: 0.75;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  @media screen and (min-width: v.$horizontalNav) {
    align-items: center;
    border-top: none;
    display: flex;
    height: v.$headerHeight;
    justify-content: flex-end;
    top: 0;

    li {
      border-bottom: none;
      display: inline-block;
      min-width: 120px;
    }

    a, .signOut {
      cursor: pointer;
      display: inline-block;
    }
  }
}

.navSelected {
  color: #fff;
  font-weight: 600;
}

